name: Build Site

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build_site:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        # Fetch all history for applying timestamps to every page
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - uses: actions/setup-go@v2
      with:
        go-version: '^1.14.3'

    - name: Install netsnmp
      run: |
        sudo apt install -y libsnmp-dev

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install Go dependencies
      run: |
        go get github.com/soniah/gosnmp

    - name: Run snmpsim
      run: docker-compose -f environment/compose/docker-compose.yaml up -d

    - name: Run bench
      run: |
        python run_plans.py

    - name: Install MKDocs
      run: pip install mkdocs

    - name: Build documentation
      run: mkdocs build

    - uses: actions/upload-artifact@v2
      with:
        name: documentation
        path: site

  publish:
    runs-on: ubuntu-latest

    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs:
    - build_site

    steps:
    - uses: actions/download-artifact@v2
      with:
        name: documentation
        path: site

    - uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./site
        commit_message: ${{ github.event.head_commit.message }}
        # Write .nojekyll at the root, see:
        # https://help.github.com/en/github/working-with-github-pages/about-github-pages#static-site-generators
        enable_jekyll: false
        # Only deploy if there were changes
        allow_empty_commit: false
